@import "~vazir-font/dist/font-face.css";
@import "~bootswatch/dist/simplex/variables";
@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "~datatables.net-bs4/css/dataTables.bootstrap4.css";
@import "~bootswatch/dist/simplex/bootswatch";
@import "~font-awesome/scss/font-awesome";
@import "~select2/src/scss/core";
@import "~izitoast/dist/css/iziToast.css";
@import "~trumbowyg/dist/ui/sass/trumbowyg";
@import "~basictable/basictable.css";
@import "~bootstrap-v4-rtl/scss/rtl";
@import "custom";

